<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestAutomationFramework.Properties.prod" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TestAutomationFramework.Properties.prod>
      <setting name="dashboardAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="apiAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="udpAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="accountToken" serializeAs="String">
        <value />
      </setting>
      <setting name="deviceId" serializeAs="String">
        <value />
      </setting>
      <setting name="sessionToken" serializeAs="String">
        <value />
      </setting>
      <setting name="unitId" serializeAs="String">
        <value />
      </setting>
    </TestAutomationFramework.Properties.prod>
  </applicationSettings>
</configuration>